if theme.gitalk && theme.gitalk.enable
  #gitalk-container
  var path = window.location.pathname
  path = path === '/' ? path : path.substring(0, path.length - 1);
  script.
    var gitalk = new Gitalk({
      clientID: '!{theme.gitalk.clientID}',
      clientSecret: '!{theme.gitalk.clientSecret}',
      repo: '!{theme.gitalk.repo}',
      owner: '!{theme.gitalk.owner}',
      admin: '!{theme.gitalk.admin}'
      id: window.location.pathname
    })
    console.logpath(path)
    gitalk.render('gitalk-container')