if theme.gitalk && theme.gitalk.enable
  #gitalk-container
  script.
    var gitalk = new Gitalk({
      clientID: '!{theme.gitalk.clientID}',
      clientSecret: '!{theme.gitalk.clientSecret}',
      repo: '!{theme.gitalk.repo}',
      owner: '!{theme.gitalk.owner}',
      admin: '!{theme.gitalk.admin}',
      id: window.location.pathname
    })
    gitalk.render('gitalk-container')